* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebarLeft {
  background-color: #575b5c;
  width: 6vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}
.sidebarRight {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 25vw;
  right: 0;
  top: 0;
  color: #8b8d8d;
  padding: 1rem;
  z-index: 1;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebarLeftItem {
  width: 100%;
  min-height: 50px;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.sidebarLeftItem div {
  width: 50px;
  margin-top: 10px;
  border: 2px solid #b3a9a7;
  display: grid;
  place-items: center;
  height: 50px;
  font-size: 25px;

  border-radius: 50%;
  background-color: #603f38;
}
.sidebarLeftItem p {
  color: #838787;
}
.mainScreen {
  width: 69vw;
  height: 100vh;
  margin-left: 80px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}
.header {
  width: 68vw;
  height: 60px;
  margin-left: 80px;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: #f3f5f4;
}

.screenContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0;
  min-height: 400px;
}
.smallCards {
  width: 250px;
  margin: 1rem 1rem 0 0;
  height: 60px;
  border-left: 5px solid #d8dee0;
  background-color: #f3f5f4;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 0.5rem;
  flex-direction: column;
}
.AddScreen {
  background-color: white !important;
  cursor: pointer;
  border: 2px solid #d8dee0 !important;
}
.AddScreen:hover {
  background-color: #d8dee0 !important;
}
.headerButton {
  border: 2px solid #d8dee0 !important;
  padding: 0.3rem 0.7rem;
  color: #7e7e7e;
  cursor: pointer;
  margin: 0 0.5rem;
}
.generalButton {
  border: 2px solid #cae5d9 !important;
  padding: 0.3rem 0.7rem;
  color: #7e7e7e;
  font-weight: bold;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0 0.5rem;
}

.slider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 10px;
  background: #d3d3d3;
  margin: auto;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #d3d3d3;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
.photoCards {
  width: 250px;
  height: 240px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  margin: 1rem;
  cursor: pointer;
}
.image {
  display: grid;
  background-color: transparent;
  place-items: center;
  border-radius: 0.5rem;
}
.image p {
  margin: 0.3rem 0;
}
.containerVideo {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-warp: warp;
  padding: 30px;
}

.containerVideo .videoCard {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #f3f5f4;
  margin: 30px 5px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.containerVideo .videoCard:hover {
  height: 320px;
}

.containerVideo .videoCard .image {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.containerVideo .videoCard .image img {
  max-width: 100%;
  border-radius: 15px;
}

.containerVideo .videoCard .contentVideo {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.containerVideo .videoCard:hover .contentVideo {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
.photoCards p,
.modal-content p,
.playlistCard p {
  margin: 0 0.5rem;
  color: #585858;
}
.photoCards h5 {
  margin: 0 0.5rem;
  color: #585858;
}
.playlistCard {
  width: 100%;
  height: 65px;
  border: 2px solid #f3f6fd;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 1rem;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.playlistCard:hover {
  height: 300px;
}
.playlistCard div h5 {
  margin: 0 0.5rem;
  color: #c7c7c7;
}
.playlistCard div {
  margin: auto 0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f3f6fd;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
